Checks: >-
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cert-err33-c,
  -portability-avoid-pragma-once
WarningsAsErrors: >-
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*
HeaderFilterRegex: '.*(src|zerofido).*'
FormatStyle: file
